


.ie8  body .grid #product_list li.item {
	margin: 15px 20px 15px 0 !important;
}

.ie8  #presta-slider .bx-wrapper .bx-caption span{
	background:#ccc;	
}


.ie8  .prd-line {
    background: #000;
	
}






